html {
   font-size: 62.5%;
   scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}


body {
  font-family: "Raleway", sans-serif;
  background: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 1.6;
  color: #b8b8b8; 
}


h2, h5, .h4 {
  line-height: 1.45;
  color: #000;
  font-family: 'Lemonada', cursive;
  font-weight: 600;
}


nav {
	position: fixed;
	z-index: 1000;
	left: 0;
	right: 0;
	top: 0;
	height: 110px;
	padding: 0 1.5em;
	background-color: #ffffff;
	font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #dadada;
}

.nav-wrapper{
    width: 100%;
    height: 100%;
    max-width: 1450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid #dadada; */
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo h1{
    color: #000000;
    font-size: 2.7rem;
    font-weight: 400;
    font-family: 'Lemonada', cursive;
}

.logo img {
	width: 8.4rem;
}

.filled-btn{
    padding: 12px 26px;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    font-size: 1.6rem;
    text-transform: uppercase;
    transition: 0.5s;
    /* margin-right: 5rem; */
}

.filled-btn:hover{
    transform: scale(.9);
    background-color: rgb(245, 147, 0);
    border-color: rgb(245, 147, 0);
}

nav .nav-menu {
	position: relative;
	top: 0;
	padding: 0;
	margin: 0;
	list-style: none;
  color: black;
}
nav .nav-item {
	display: inline-block;
}
nav .nav-item > a {
	display: inline-block;
	margin: 0 1em;
	line-height: 70px;
	color: rgb(0, 0, 0);
	text-decoration: none;
  font-size: 1.75rem;
}

nav .nav-item > a:hover {
  color: rgb(255, 145, 0);
}


nav .nav-item > a:hover
nav .dropdown {
	position: relative;
}
nav .dropdown a::after {
	content: '';
	display: inline-block;
	margin-left: .5em;
	vertical-align: middle;
	border-top: .3em solid rgb(0, 0, 0);
	border-right: .3em solid transparent;
	border-left: .3em solid transparent;
}
nav .dropdown.show a::after {
	transform: rotate(180deg);
}
nav .dropdown-menu {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	padding: .5em 0;
	margin-top: -.5em;
	border: 1px solid rgba(0,0,0,.3);
	border-radius: .5em;
	background-color: #fff;
}
nav .dropdown.show .dropdown-menu {
	display: block;
}
nav .dropdown-item {
	display: block;
	padding: 0 1.5em;
	font-size: .875em;
	color: #000;
	line-height: 3;
	text-decoration: none;
}
nav .btn-hamburger {
	display: none;
	position: absolute;
	right: 1.5em;
	top: 50%;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	outline: none;
	transform: translateY(-50%);
}
nav .btn-hamburger span {
	display: block;
	width: 30px;
	height: 4px;
	background-color: rgb(0, 0, 0);
	margin: 6px;
	border-radius: 2px;
	transition: .3s ease-in-out;
}
nav .btn-hamburger span:nth-child(4),
nav .btn-hamburger span:nth-child(5) {
	position: absolute;
	top: 10px;
	opacity: .5;
}
nav .btn-hamburger span:nth-child(4) {
	transform: rotate(45deg) scale(0);
}
nav .btn-hamburger span:nth-child(5) {
	transform: rotate(-45deg) scale(0);
}
nav.opened .btn-hamburger span:nth-child(4) {
	opacity: 1;
	transform: rotate(45deg) scale(1);
}
nav.opened .btn-hamburger span:nth-child(5) {
	opacity: 1;
	transform: rotate(-45deg) scale(1);
}
nav.opened .btn-hamburger span:nth-child(1),
nav.opened .btn-hamburger span:nth-child(2),
nav.opened .btn-hamburger span:nth-child(3) {
	opacity: 0;
}

/* Scrolling Nav*/
.scrolling-nav{
    height: 75px;
    border-bottom: 1px solid #dadada;
}

.scrolling-nav .logo img{
    width: 6rem;
    
}

 .scrolling-nav .filled-btn{
    padding: 8px 22px;
}


.mobile-btn{
  display: none;
}
  

@media screen and (max-width: 1140px) {
	nav .nav-menu {
		position: fixed;
		left: 0;
		right: 0;
		top: 110px;
		bottom: 100%;
		display: flex;
		flex-direction: column;
		justify-content: start;
		background-color: #ffae00;
		transition: bottom .5s ease-in-out;
    text-align: center;
		overflow: hidden;
	}
	nav.opened .nav-menu {
		bottom: 0px; /* Changes the height of navbar*/
	}
	nav .nav-item > a {
		display: block;
    font-family: 'Lemonada', cursive;
  font-weight: 600;
    font-size: 2rem;
	}

  nav .nav-item > a:hover {
    color: rgb(255, 255, 255);
  }

	nav .dropdown-menu {
		position: relative;
		top: 0;
		margin: 0 1.5em;
	}

	nav .btn-hamburger {
		display: block;
	}

    .filled-btn{
        margin-right: 5rem;
    }

    .scrolling-nav .nav-menu{
    top: 70px;
    }
}



@media screen and (max-width: 680px){
    .desktop-btn{
        display: none;
    }
    
    .filled-btn{
      margin-right: 0;
    }

    .mobile-btn{
      display: block;
    }

    .logo h1{
        font-size: 2.4rem;
    }

    .logo img{
        width: 7.4rem;
    }
}


@media screen and (max-width: 396px){
    .logo{
        max-width: 275px;
    }

    .logo h1{
        line-height: 2.3rem;
        font-size: 2.2rem;
    }

    nav{
      padding: 0 0.5rem;
    }

    nav .btn-hamburger{
      right: 0.6em;
    }
}

/* HEADER */

header{
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: calc(100vh - 100px);
    /* height: 100vh; */
    margin-top: 100px;
    position: relative;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide{
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.header-img1{
  background-image: url('../images/puffpuff-dark.jpg');
}

.header-img2{
  background-image: url('../images/jollof-dark.jpg');
}

.header-img3{
    background-image: url('../images/egusi-dark.JPG');
}


.header-text{
  color: #fff;
    position: absolute;
    /* max-width: 785px; */
    height: 385px;
    /* border: 1px solid red; */
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.header-text h1{
    font-size: 5.5rem;
    margin-bottom: 1rem;
    width: 100%;
}

.header-text p{
    font-size: 2.2rem;
    font-weight: 400;
    margin-top: 2rem;
    max-width: 700px;
    margin-bottom: 2.5rem;
}

.outline-btn{
    padding: 22px 40px;
    border: 2px solid #fff;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.075);
    font-size: 1.8rem;
    text-transform: uppercase;
    transition: 0.7s;
    border-radius: 2px;
}

.outline-btn a{
  color: black;
  text-decoration: none;
}

.outline-btn:hover{
    background-color: #fff;
    color:rgb(0, 0, 0);
}

@media screen and (max-width: 1105px){

.header-text{
    width: 90%;
}

.header-text h1{
    font-size: 4.7rem;
    width: 100%;
}



}


@media screen and (max-width: 500px){

    .header-text h1{
        font-size: 3.6rem;
    }

    .header-text p{
        font-size: 1.7rem;
    }
}


@media screen and (max-width: 475px){
    .outline-btn{
        width: 100%;
    }

    .divider{
      padding: 4rem 4rem;
    }
}

/* ABOUT SECTION */
 .about-container {
  max-width: 1140px;
  max-height: 650px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
 }


 .about-info,
 .about-img{
   width: 50%;
 }
 
 .about-img{
   position: relative;
 }

 .about-img img{
   width: 90%;
   height: 90%;
   object-fit: contain;
   position: relative;
   z-index: 2;
 }

 .img-shadow{
   
   background-color: rgba(128, 128, 128, 0.164);
   width: 70%;
   height: 90%;
   top: 50px;
   right: 35px;
   position: absolute;
 }

 .about-info{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start
 }

.about-info h4{
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .5rem;
  color: #c9c9c9;
}

.about-info h2{
  font-size: 5rem;
}

.about-info p{
  font-size: 1.8rem;
  color: #acacac;
  margin-bottom: 2rem;
}

/* @media screen and (max-width: 992px){
  .img-shadow{
    right: 15px;
    width: 85%;
    height: 83%;
  }

  .about-info{
    width: 45%;
    margin-left: 5%;
  }
} */


@media screen and (max-width: 992px){
  .about-container{
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-height: none;
    justify-content: center;
    align-items: center;
  }

  .about-info{
    width: 95%;
    height: 100%;
    margin-left: 0;
  }


  .about-info h2{
    font-size: 4.2rem;
  }
  .about-info p{
    font-size: 1.6rem;
  }

  .about-img{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }

  .about-img img{
    width: 70%;
    height: 90%;
    left: -30px;
  }

  .img-shadow{
    transform: rotate(90deg);
    height: 68%;
    width: 100%;
    right: -30px;
    top: 27%;
  }
}


/* MENU SECTION */
.menu-section{
    width: 100%;
    height: 100vh;
    background: #fff;
    padding: 10rem 10rem;
    display: flex; 
    flex-direction: column;
    text-align: center;
}

.section-title{
    color: rgba(0, 0, 0, 0.705);
    font-family: 'Lemonada', cursive;
    font-size: 4.2rem;
    position: relative;
}

.section-title::after{
    content: '';
    position: absolute;
    top: 0;
    left: 45%;
    width: 130px;
    height: 5px;
    background-color: rgb(255, 153, 0);
}


/* MENU ITEMS*/

.menu-item {
  margin-bottom: 30px; }
  .menu-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
  object-fit: cover;}
  .menu-item .menu-price {
    font-family: "Playfair Display", serif;
    font-size: 24px; 
    font-weight: bold;
    color: rgb(255, 153, 0);
  }

@media screen and (max-width: 768px) {
  .display-4 {
    font-size: 3.2rem; } 
}

.bg-light {
  background: #f1efed !important; }

.ftco-custom-gutters {
  margin-left: -10px;
  margin-right: -10px; }
  .ftco-custom-gutters [class*=col-] {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px; }
    .ftco-custom-gutters [class*=col-] .ftco-thumbnail {
      display: block;
      margin-bottom: 5px; }

.ftco-tab-nav {
  padding: 0;
  margin: 0;
  display: inline-block !important; }
  @media screen and (max-width: 576px) {
    .ftco-tab-nav {
      display: block !important;
      margin-bottom: 10px;
      width: 100% !important; } }
  .ftco-tab-nav li {
    padding: 0;
    margin: 0 5px;
    display: inline-block !important; }
    @media screen and (max-width: 576px) {
      .ftco-tab-nav li {
        display: block !important;
        margin-bottom: 10px;
        width: 100% !important; } }
    .ftco-tab-nav li a {
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: .3em;
      color: #ccc;
      border: 2px solid #ccc;
      border-radius: 0 !important; }
      .ftco-tab-nav li a.active {
        background: none !important;
        color: black !important;
        border: 2px solid #000; }

.ftco-animate {
  opacity: 0;
  visibility: hidden; }

.ftco-section {
  padding: 7em 0; }

.ftco-media {
  background: #fff;
  border-radius: 0px; }

.image-popup {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

#ftco-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000; }

#ftco-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

#ftco-loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1; }

#ftco-loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

#ftco-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round; }

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } 
}



/* TESTIMONIALS*/
.testimony-carousel {
  max-width: 1140px;
  /* max-height: 385px; */
  overflow: hidden;
}

.swiper-slide{
  height: auto;
}

.box{
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 25px;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
}
.box i.quote{
  font-size: 30px;
  color: #eeb740;
}
.box .content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.box .info .name{
  font-weight: 600;
  font-size: 17px;
}
.box .info .job{
  font-size: 16px;
  font-weight: 500;
  color: #38383881;
}
.box .info .stars{
  margin-top: 2px;
}
.box .info .stars i{
  color: #f1dc22;
}
.box .content .image{
  height: 75px;
  width: 75px;
  padding: 3px;
  background: #bbbbbbb0;
  border-radius: 50%;
}
.content .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
.box:hover .content .image img{
  border-color: #fff;
}

/* FOOTER */

.footer-container{
	max-width: 1170px;
	margin:auto;
  }
  .footer-row{
	display: flex;
	flex-wrap: wrap;
  }
.footer-row ul{
	list-style: none;
  }

  .footer{
	background-color: #f1efed;
	  padding: 2.5rem 0;
  }
  .footer-col{
	 width: 25%;
	 padding: 0 15px;
  }
  .footer-col h4{
	font-size: 2rem;
	color: #000000;
	text-transform: uppercase;
	margin-bottom: 35px;
	font-weight: 400;
	position: relative;
	font-family: 'Lemonada', cursive;
  } 
  .footer-col ul li:not(:last-child){
	margin-bottom: 10px;
  }
  .footer-col ul li a{
	font-size: 1.6rem;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
	color: #acacac;
	display: block;
	transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
	color:rgba(31, 30, 29, 0.685);
	padding-left: 8px;
  }
  .footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(83, 83, 83, 0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
	font-size: 2rem;
  }
  .footer-col .social-links a:hover{
	color: #e09e0f;
	background-color: #ffffff;
  }
  

  .credits{
	  width: 100%;
	  margin-top: 2.5rem;
	  border-top: 1px solid #dadada;
	  display: flex;
	  justify-content: center;
	  align-items: center;
    text-align: center;
  }

  .credits p{
	margin-top: 1rem;
	font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.377);
  }

  @media(max-width: 767px){
	.footer-col{
	  width: 50%;
	  margin-bottom: 30px;
  }

  .footer-col h4{
    margin-bottom: 12px;
  }
  }
  @media(max-width: 574px){
	.footer-col{
	  width: 100%;
  }
  }
  
  